body, html {
    font-family: 'Avanta Garde', sans-serif;
    color: #4f34b1;
}
Header {
    margin: 0 0 40px 0;
    text-align: center;
}
form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #81b6e2;
    border-radius: 8px;
}
input[type="text"],
input[type="number"],
select {
  border: none;
  font-size: 15px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 14px;
  width: 90%;
  background-color: #e8f0f1;
  color: #559cce;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
h3 {
    margin: 0 0 30px 0;
    text-align: Match-parent;
}
button {
    padding: 15px 20px 15px 20px;
    color: #4f34b1;
    background-color: #e2e5e3;
    font-size: 15px;
    text-align: center;
    font-style: oblique;
    border-radius: 5px;
    width: 60%;
    border: 1px solid #4f34b1;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}